/* =================== Base _Globals =================== */
html,
body {
  height: 100%;
}

body {
  min-width: 320px;
  font-family: var(--ff-base) !important;
  font-weight: var(--fw-regular) !important;
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: var(--text-color);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.btn,
.dropdown-menu,
.form-control {
  border-radius: 0;
}

.form-control {
  &:focus {
    color: var(--text-color);
    border-color: var(--accent-color);
    box-shadow: none;
  }

  &::placeholder {
    color: var(--crl-lightGray);
  }
}

.btn-info {
  background-color: var(--accent-color);
  color: var(--contrast-color);
}
.btn-outline-info {
  border-color: var(--accent-color);

  &:hover {
    border-color: var(--crl-lightGray);
    background-color: var(--accent-color) !important;
    color: var(--contrast-color);
  }
}

.bg-info {
  background-color: var(--accent-color) !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
