.social-icon {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    margin-right: 10px;
  }

  &__youtube,
  &__facebook,
  &__instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: all 0.5s;
    text-decoration: none;
  }

  &__youtube {
    background: linear-gradient(45deg, #ff0000, #ffc107);
    color: #ffffff;

    @include hover {
      background: linear-gradient(45deg, #ffc107, #ff0000);
    }
  }

  &__facebook {
    background: linear-gradient(45deg, #3b5998, #3b5998);
    color: #ffffff;

    @include hover {
      background: linear-gradient(45deg, #3b5998, #4c7f8b);
    }
  }

  &__instagram {
    background: linear-gradient(45deg, #e1306c, #e1306c);
    color: #ffffff;

    @include hover {
      background: linear-gradient(45deg, #e1306c, #ff69b4);
    }
  }
}

.cart-buttons .btn {
  border: none;

  @include hover {
    .fa-heart--hover-cl {
      color: #ff3737;
    }

    .fa-cart-shopping--hover-cl {
      color: var(--accent-color);
    }
  }

  &:active {
    .fa-heart--hover-cl {
      color: var(--crimson-punch);
    }

    .fa-cart-shopping--hover-cl {
      color: var(--sea-green);
    }
  }
}
