/* =================== Base _Variables =================== */

:root {
  /* Color */
  --bg-color: #f0f4f7;
  --text-color: #4a4a4a;
  --accent-color: #00b2a9;
  --contrast-color: #2c3e50;
  --crl-lightGray: #d9d9d9;

  /* font families */
  --ff-base: 'Roboto', sans-serif;

  /* font weights */
  // --fw-thin: 100;
  // --fw-extra-light: 200;
  // --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  // --fw-semi-bold: 600;
  --fw-bold: 700;
  // --fw-extra-bold: 800;
  // --fw-black: 900;
}
