/*  =================== Block _Header =================== */
.header-top .btn {
  background-color: #fff;
}

.header-top-phone {
  a {
    display: block;
    text-decoration: none;
  }

  @include hover {
    a {
      text-decoration: underline;
    }
  }
}

.header-logo {
  text-decoration: none;
  color: var(--accent-color);
  transition: all 0.3s;

  @include hover {
    color: var(--sea-green);
  }

  &:active {
    color: var(--accent-color);
  }
}

.cart-buttons .btn {
  color: var(--contrast-color);
  transition: all 0.3s;
}

.header-bottom {
  border-top: 3px solid var(--accent-color);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);

  .navbar,
  .dropdown-menu {
    background-color: var(--contrast-color) !important;
  }

  .navbar .nav-link {
    color: #fff;
    transition: 0.3s all;
    letter-spacing: 0.1rem;

    @include hover {
      color: var(--accent-color);
    }

    &.active {
      color: var(--accent-color);
    }

    &--no-padding {
      padding-left: 0;
    }
  }

  .navbar .dropdown-menu {
    margin-top: 7px;
  }
}

.headernav-scroll.header-bottom {
  .navbar .offcanvas:not(.show) .nav-link {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }
}
